@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  width: 90%;
  margin: 0 auto;
  background-color: #181818;

  /* background: linear-gradient(
      0deg,
      rgba(48, 165, 202, 0.58),
      rgba(48, 165, 202, 0.58)
    ),
    url(.png);
  background-blend-mode: overlay, normal; */
}
